[submodule "app/image-downloader"]
	path = app/image-downloader
	url = git@github.com:PMET-public/image-downloader.git
[submodule "app/crx-hotreload"]
	path = app/crx-hotreload
	url = git@github.com:PMET-public/crx-hotreload.git
