[submodule "app/image-downloader"]
	path = app/image-downloader
	url = git@github.com:PMET-public/image-downloader.git
[submodule "app/crx-hotreload"]
	path = app/crx-hotreload
	url = git@github.com:PMET-public/crx-hotreload.git
[submodule "tests/libs/bats-file"]
	path = tests/libs/bats-file
	url = https://github.com/bats-core/bats-file
[submodule "tests/libs/bats-support"]
	path = tests/libs/bats-support
	url = https://github.com/bats-core/bats-support
[submodule "tests/libs/bats-assert"]
	path = tests/libs/bats-assert
	url = https://github.com/bats-core/bats-assert
[submodule "tests/libs/bats"]
	path = tests/libs/bats
	url = https://github.com/bats-core/bats-core
