#commands p, #commands .ui-accordion-content h3 {
    text-align: center;
    margin: 5px auto;
}

#commands .ui-accordion-content {
  padding: 0;
}

.cli-cmd-container {
  width: 25%;
  display: inline-block;
  font-size: 90%;
  padding-bottom: 12px;
  position: relative;
  cursor: pointer;
}

// .cli-cmd-container:hover {
//     background-color: $color-primary;
//     color: #fff;
//     cursor: pointer;
// }

#password-dialog {
  text-align: right;
  input {
    margin: 5px 30px 5px 5px;
    width: 200px;
  }
  p {
    text-align: left;
    margin: 5px auto 5px 20px;
  }
}

.cli-cmd {
  width: 1px;
  padding: 0;
  border: 0;
  left: -9999px;
  z-index: -1;
  position: absolute;
}

.cli-cmd-container > .mdi {
  position: relative;
  top: 2px;
  left: 5px;
  padding: 0;
}

.cli-cmd-container .simple-copy {
  padding-right: 5px;
}

.copied-to-clipboard-alert {
  color: red;
  font-weight: bold;
  margin-left: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  background-color: rgba(255,255,255,1);
  text-align: center;
  padding: 5px;
  left: -12px;
}

.cmds-prequisites, .cmds-cloud-and-vm {
  padding: 5px;
  display: inline-block;
}

.cmds-cloud-only, .cmds-vm-only {
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  .cli-cmd-container { 
    width: 50%;
  }
}

.cmds-cloud-only {
  width: calc(50% - 5px);
}

.cmds-vm-only {
  background-color: $color-disabled;
  width: calc(50% - 5px);
}

#admin-reset-note {
  color: $color-error-text;
}
