.cli-cmd-container {
  white-space: nowrap;
  //font-size: 90%;
  padding-bottom: 12px;
  position: relative;
  cursor: pointer;
  background-color: #f6f6f6;
  border: 1px solid #c5c5c5;
  border-radius: 5px 5px 5px 5px;
  padding: 2px 5px 2px 5px;
  margin: 1px 0 1px 0;
  display: inline-block;
}

.cli-cmd-container:hover {
  background-color: $color-secondary;
  border: 1px solid $color-primary;
}

.cli-cmd {
  width: 1px;
  padding: 0;
  border: 0;
  left: -9999px;
  z-index: -1;
  position: absolute;
}

.cli-cmd-container > .mdi {
  position: relative;
  top: 2px;
  left: 5px;
  padding: 0;
}

.copied-to-clipboard-alert {
  color: red;
  font-weight: bold;
  margin-left: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  background-color: rgba(255,255,255,1);
  text-align: center;
  padding: 5px;
  left: -12px;
}

// #cmds-prequisites, #cmds-useful {
//   padding: 5px;
// }

.cmds-container {
  // border: 1px dashed gray;
  width: fit-content;
  height: fit-content;
  padding: 3px 3px 3px 3px;
}

.cmds-container:before{
  content:attr(aria-label);
  font-size: 120%;
  font-weight: bold;
}

#cmds-grid {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // align-content: flex-start;
  // height: 300px;

  display: grid;
  grid-template:
    'grid-magento grid-magento grid-magento grid-monitor'
    'grid-maintenance grid-maintenance grid-access grid-access';
}

.grid-magento { grid-area: grid-magento; }
.grid-access { grid-area: grid-access; }
.grid-maintenance { grid-area: grid-maintenance; }
.grid-monitor { grid-area: grid-monitor; }

#cmds-filter {
  text-align: center;
}
