#commands p, #commands .ui-accordion-content h3 {
    text-align: center;
    margin: 5px auto;
}

#commands .ui-accordion-content {
  padding: 0;
}

.cli-cmd-container {
  width: 25%;
  display: inline-block;
  font-size: 90%;
  margin-bottom: 12px;
  position: relative;
}

#password-dialog {
  text-align: right;
  input {
    margin: 5px 30px 5px 5px;
    width: 200px;
  }
  p {
    text-align: left;
    margin: 5px auto 5px 20px;
  }
}

.cli-cmd {
  width: 50px;
  padding: 5px;
  left: 5px;
  position: relative;
  ~ .mdi {
    position: relative;
    top: 2px;
    left: 5px;
    &:hover {
      background-color: $color-primary;
      color: #fff;
      cursor: pointer;
    }
  }
}

.copied-to-clipboard-alert {
  color: red;
  font-weight: bold;
  margin-left: 10px;
}

.cmds-prequisites, .cmds-cloud-and-vm {
  padding: 5px;
}

.cmds-cloud-only, .cmds-vm-only {
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  .cli-cmd-container { 
    width: 50%;
  }
}

.cmds-cloud-only {
  width: calc(50% - 5px);
}

.cmds-vm-only {
  background-color: $color-disabled;
  width: calc(50% - 5px);
}

#admin-reset-note {
  color: $color-error-text;
}
