/* selector to for cloud sites */
html[ng-app="platformApp"] {
  a[on="environment.enable_smtp"]::after {
    content: 'Toggle emails on using a 3rd party SMTP service from the chrome extension cmds (faster).\AIf you enable the cloud email option here, then "rebuild" with the chrome extension afterward (slow).';
    float: right;
    font-size: 0.9em;
    color: red;
    white-space: pre-wrap;
    line-height: 1.2em;
  }
}
