@import 'https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css';

@import 'normalize';

@import 'color';
@import 'checkbox';
@import 'tooltip';

@import 'jquery-ui';
@import 'jquery-ui.structure';
@import 'jquery-ui.theme';

@import '../image-downloader/lib/jquery.nouislider/jquery.nouislider';
@import '../image-downloader/stylesheets/customize';

@import 'css-injector';
@import 'commands';

$padding: 0 20px 150px;
$width: 600px;

::-webkit-scrollbar { 
  display: none; 
}

body {
  font: 13px/1.5em 'Lucida Grande', Arial, sans-serif;
  padding: $padding;
  width: $width;
  margin: 0;
}

#top-nav {
  float: right;
  padding: 0 1em;
  a {
    color: $color-primary;
  }
}

#slack-link {
  position: relative;
  top: 0.1em;
}

#slack-link-logo {
  height: 1.5em;
  width: 1.5em;
}

h3 {
  line-height: 2em;
  font-size: 1.5em;
  margin: 0.5em;
}

.mdi {
  font-size: 20px;
  height: 24px;
  width: 24px;
  padding: 0 2px;
  border-radius: 4px;
  text-align: center;
  line-height: 24px;
  &:hover {
    color: #fff;
    background-color: $color-primary;
  }
}
.not-interactive.mdi {
  background-color: inherit;
  &:hover {
    background-color: inherit;
    color: inherit;
  }
}

.mdi-help, h3 .mdi-open-in-new {
  font-size: 16px;
  position: relative;
  top: -10px;
  left: -6px;
  color: $color-primary;
}

#tab-list, #tabs {
  border: none;
  background-color: inherit;
}

#tabs .ui-tabs-panel {
  border: #CCC 1px solid;
  border-radius: 3px;
  width: 500px;
}

.ui-tabs-anchor:focus, .ui-accordion-header:focus {
  outline: 0;
}

:focus {
  outline: $color-primary auto 5px;
}

input {
  padding: 5px;
  border: 1px solid $color-border;
  &:disabled {
    background-color: $color-disabled;
    border-color: $color-disabled;
  }
  &.has-error {
    outline: red auto 5px;
  }
}

.applied-domain {
  font-weight: bold;
  font-size: 1em;
  text-decoration: underline;
  margin-bottom: 13px;
  display: inline-block;
}