[data-descr] {
  position: relative;
  color: $color-primary;
}

[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: -250px;
  top: 24px;
  min-width: 250px;
  text-align: justify;
  border: 1px $color-primary solid;
  border-radius: 10px;
  background-color: $color-secondary;
  padding: 10px;
  color: $color-normal-text;
  font-size: 12px;
  line-height: 16px;
  z-index: 2;
}

$cmd-tip-width: 200px;

.cli-cmd-container {
  .mdi-help {
    position: relative;
    font-size: 12px;
    padding: 0;
    overflow: visible;
    height: 0;
    width: 0;
    top: -10px;
    left: -10px;
    &::before {
      line-height: 10px;
    }
  }
  [data-descr] {
    color: $color-normal-text;
  }
  [data-descr]:hover::after {
    top: -60px;
    padding: 5px;
    min-width: $cmd-tip-width;
    left: -$cmd-tip-width*.75;
  }
}